.box {
	display: block;
	position: absolute;
	border: dashed 1px black;
	color: white;
}

.box.selected {
	border: solid 1px white;
}
.box.selected>.children {
	opacity: 0.5;
}

.box-anchor {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	background: none;
	border: dashed red 2px;
	pointer-events: none;
}
.box-anchor>.box-offset {
	display: block;
	position: absolute;
	background: none;
	border: dashed blue 2px;
	pointer-events: none;
}
.box-anchor>.gizmo {
	flex: none;
}
