.box {
	display: block;
	position: absolute;
	border: dashed 1px black;
	color: white;
	text-shadow: 1px 1px 1px black;
	transition: opacity 0.25s ease-in-out, background 0.25s ease-in-out;
}

.box>.children {
	opacity: 1;
	transition: opacity 0.25s ease-in-out, background 0.25s ease-in-out;
}

.box.selected {
	border: none;
}

.box.selected>.children {
	opacity: 0.5;
}

.box .box-grid {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: top left;
	background-origin: border-box;
	pointer-events: none;
}

.box-anchor {
	z-index: 100;
	position: absolute;
	background: none;
	border: dashed magenta 2px;
	pointer-events: none;
}

.box-anchor>.box-offset {
	display: block;
	position: absolute;
	background: none;
	border: dashed cyan 2px;
	pointer-events: none;
}

.box-anchor>.gizmo {
	flex: none;
}
