.gizmo-scale .gizmo-anchor {
	position: absolute;
	margin: auto;
	background: yellow;
	pointer-events: initial;
}

/* edges */
.gizmo-scale .top,
.gizmo-scale .bottom {
	left: 25%;
	right: 25%;
	height: 8px;
}

.gizmo-scale .top {
	top: -4px;
	cursor: n-resize;
}

.gizmo-scale .bottom {
	bottom: -4px;
	cursor: s-resize;
}

.gizmo-scale .left,
.gizmo-scale .right {
	top: 25%;
	bottom: 25%;
	width: 8px;
}

.gizmo-scale .left {
	left: -4px;
	cursor: w-resize;
}

.gizmo-scale .right {
	right: -4px;
	cursor: e-resize;
}

/* corners */
.gizmo-scale .top.left {
	top: -4px;
	bottom: initial;
	left: -4px;
	right: initial;
	width: 8px;
	height: 8px;
	cursor: nw-resize;
}
.gizmo-scale .bottom.left {
	top: initial;
	bottom: -4px;
	left: -4px;
	right: initial;
	width: 8px;
	height: 8px;
	cursor: sw-resize;
}
.gizmo-scale .top.right {
	top: -4px;
	bottom: initial;
	left: initial;
	right: -4px;
	width: 8px;
	height: 8px;
	cursor: ne-resize;
}
.gizmo-scale .bottom.right {
	top: initial;
	bottom: -4px;
	left: initial;
	right: -4px;
	width: 8px;
	height: 8px;
	cursor: se-resize;
}
