.outliner-entry {
	/* border: solid 5px black; */
	border-right: none;
	border-bottom: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	background: white;
}
.outliner-entry>.spacer {
	display: inline-block;
	width: 0.5em;
	height: 100%;
}
.outliner-entry.selected {
	background: grey;
}
.outliner-entry.selected>.children {
	opacity: 0.5;
	background: white;
}
