.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background: white;
	color: black;
	font-size: 100%;
	font-family: 'Courier New', Courier, monospace;
}

.app>main {
	flex: auto;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
	padding: 1em 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.app>main>.outliner {
	flex: 1;
	max-width: 300px;
}

.app>main>.boxes {
	flex: 3;
	position: relative;
	border: dotted 1px black;
	overflow: hidden;
}

.app>main>.editor {
	flex: none;
}

.app>footer {
	flex: none;
	font-size: .8em;
	padding: 1em 3em;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	background: black;
	color: white;
}

.app>footer>a {
	margin-left: 1em;
	color: grey;
}

.app>footer>a:hover {
	color: white;
}
